@inject IStorageAPI Storage

@if (availableAttributes.Any()) {
    <EditForm model="@model" OnValidSubmit="@HandleSubmit">
        <DialogLayout>
            <ChildContent>
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <label for="dataType">Attribute</label>
                    <select class="form-control" @onchange="HandleChangeNewAttr">
                        @foreach (var attr in availableAttributes) {
                            <option value="@attr.ID">(@attr.ID) @attr.Label - @attr.DataType.Name</option>
                        }
                    </select>
                </div>

                <hr/>

                <div class="form-group">
                    <label>Cardinality</label>
                    <InputNumber
                        class="form-control"
                        type="number"
                        disabled="@model.Mutable"
                        @bind-Value="model.Cardinality"
                    />
                </div>

                <div class="form-group">
                    <label>Permission</label>
                    <select class="form-control" @onchange="HandleChangePermission">
                        <option>Any</option>
                        @foreach (var actor in actors) {
                            <option value="@actor.IndividualID">@actor.Label</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Initial value</label>
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="defaultEmpty" @bind="defaultEmpty"/>
                        <label class="form-check-label" for="defaultEmpty">None</label>
                    </div>
                    @if (!defaultEmpty) {
                        if (model?.AttributeModel.Attribute.DataType.IsBoxed is true) {
                            <select
                                class="form-control @(Valid ? "is-valid" : "is-invalid")"
                                @bind="editorValue"
                            >
                                @foreach (var item in model?.AttributeModel.Attribute.Values) {
                                    <option value="@item.EventID.ToString()">@item.Value</option>
                                }
                            </select>
                        }
                        else {
                            <input
                                type="text"
                                @bind-value="editorValue"
                                class="form-control @(Valid ? "is-valid" : "is-invalid")"
                            />
                        }
                    }
                </div>

                <hr/>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="required" @bind="model.Required"/>
                    <label class="form-check-label" for="required">Required</label>
                </div>

                <div class="form-group">
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="mutable" @bind="model.Mutable"/>
                        <label class="form-check-label" for="mutable">Mutable</label>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <label>Conditions</label>
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="transient" @bind="transient"/>
                        <label class="form-check-label" for="transient">Transient</label>
                    </div>

                    @if (!transient) {
                        <ConditionsEditor Model="@model.Conditions" Values="@allAttributes" />
                    }
                </div>
            </ChildContent>
            <Footer>
                <button type="submit" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
            </Footer>
        </DialogLayout>
    </EditForm>
}
else {
    <DialogLayout>
        <ChildContent>
            No attributes available
        </ChildContent>
        <Footer>
            <button type="button" class="btn btn-secondary" @onclick="Cancel">Close</button>
        </Footer>
    </DialogLayout>
}

@code {
    [CascadingParameter]
    public BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public IEnumerable<int> Attributes { get; set; }

    private IEnumerable<IAttr> allAttributes;
    private AddModelAttributeData model = new AddModelAttributeData();
    private IEnumerable<AttrData> availableAttributes = Array.Empty<AttrData>();
    private IEnumerable<IIndividual> actors = Array.Empty<IIndividual>();
    private bool transient = true;
    private bool defaultEmpty = true;
    private string editorValue = "";

    private bool Valid =>
        defaultEmpty || (model?.AttributeModel.Attribute.DataType.Validate(editorValue) ?? false);

    protected async override Task OnInitializedAsync() {
        allAttributes = await Storage.GetAttributes();
        var attrs = allAttributes.Where(a => !Attributes.Contains(a.PropertyID));
        availableAttributes = await Task.WhenAll(attrs.Select(l => AttrData.Instantiate(l)));
        model.Attribute = availableAttributes.FirstOrDefault();
        actors = await Storage.GetActors();
    }

    private void HandleChangeNewAttr(ChangeEventArgs e) {
        if (Int32.TryParse((string)e.Value, out var id)) {
            model.Attribute = availableAttributes.Where(a => a.ID == id).Single();
        }
    }

    private void HandleChangePermission(ChangeEventArgs e) {
        if (Int32.TryParse((string)e.Value, out var id)) {
            model.Permission = id;
        }
        else {
            model.Permission = null;
        }
    }

    private async Task Cancel() {
        await BlazoredModal.Cancel();
    }

    private async Task HandleSubmit() {
        IBoxedValue defaultValue = null;

        if (!Valid) {
            return;
        }

        if (!defaultEmpty) {
            var shownValue = model.AttributeModel.Attribute.Values.Where(a => a.EventID.ToString() == editorValue).SingleOrDefault();
            defaultValue = new BoxedValueData(editorValue, shownValue?.Value ?? editorValue);
        }

        await BlazoredModal.Close(ModalResult.Ok(
            new PropertyAssignData {
                ID = model.Attribute.ID,
                Required = model.Required,
                Cardinality = model.Cardinality,
                Mutable = model.Mutable,
                Permission = model.Permission,
                Conditions = transient
                    ? null
                    : model.Conditions.Compile(),
                DefaultValue = defaultValue
            }
        ));
    }
}