@page "/attributes"
@inject EngineBase Engine

<Scaffold>
    <Title>Attributes</Title>
    <TitleRight>
        <NavLink href="/attributes/create" class="btn btn-light">
            <span class="oi oi-plus mr-1"></span>
            <span>Create</span>
        </NavLink>
    </TitleRight>
    <ChildContent>
        @foreach (var attr in attributes) {
            var attrLink = $"/attributes/{attr.ID}";

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1">
                            @attr.ID
                        </div>
                        <div class="col-sm-8">
                            <strong>
                                <NavLink href="@attrLink">@attr.Name</NavLink>
                            </strong>
                        </div>
                        <div class="col-sm-1">
                            <div>
                                @(attr.IsBoxed ? "Boxed" : "Basic")
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="text-muted">@attr.DataType.Name</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </ChildContent>
</Scaffold>

@code {
    private IEnumerable<AttrData> attributes = Array.Empty<AttrData>();

    protected override async Task OnInitializedAsync() {
        var values = await Engine.Storage.GetAttributes();
        attributes = await Task.WhenAll(values.Select(a => AttrData.Instantiate(a)));
    }
}