@page "/attributes"
@inject IStorageAPI Storage
@inject RoutingService Routing

<Scaffold>
    <Title>Attributes</Title>
    <TitleRight>
        <NavLink href="@Routing.AttributesCreate()" class="btn btn-light">
            <i class="icon feather-plus mr-1"></i>
            <span>Create</span>
        </NavLink>
    </TitleRight>
    <ChildContent>
        @foreach (var attr in attributes) {
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1">
                            @attr.ID
                        </div>
                        <div class="col-sm-8">
                            <strong>
                                <NavLink href="@Routing.AttributesView(attr.ID)">@attr.Name</NavLink>
                            </strong>
                        </div>
                        <div class="col-sm-1">
                            <div>
                                @(attr.IsBoxed ? "Boxed" : "Basic")
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="text-muted">@attr.DataType.Name</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </ChildContent>
</Scaffold>

@code {
    private IEnumerable<AttrData> attributes = Array.Empty<AttrData>();

    protected override async Task OnInitializedAsync() {
        var values = await Storage.GetAttributes();
        attributes = await Task.WhenAll(values.Select(a => AttrData.Instantiate(a)));
    }
}