@page "/entities/{id:int}"
@inject IStorageAPI Storage
@inject NavigationManager NavigationManager
@inject DialogService Dialog
@inject RoutingService Routing

@if (null != entity) {
    <Scaffold>
        <Title>(@entity.ID) @entity.Label</Title>
        <ChildContent>
            <div>
                <div class="float-right">
                    <button class="btn btn-link" @onclick="() => HandleCreateModel()">
                        <i class="icon feather-plus mr-1"></i>
                        <span>Create model</span>
                    </button>
                </div>
                <h4>Models</h4>
            </div>
            @if (entity.Models.Any()) {
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:1px">ID</th>
                            <th>Name</th>
                            <th>Parent</th>
                            <th style="width:1px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var model in entity.Models) {
                            <tr>
                                <td>@model.ID</td>
                                <td>
                                    <NavLink href="@Routing.ModelsView(model.ID)">
                                        @model.Label
                                    </NavLink>
                                </td>
                                <td>@model.ParentLabel</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-light" title="Derive model" @onclick="() => HandleCreateModel(model.ID)">
                                            <i class="icon feather-code"></i>
                                        </button>
                                        <NavLink href="@Routing.EntitiesCreateIndividual(ID, model.ID)" class="btn btn-light" title="Create individual using this model">
                                            <i class="icon feather-plus"></i>
                                        </NavLink>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else {
                <div class="text-muted">No models defined</div>
            }

            <div class="mt-5">
                <div class="float-right">
                    <button class="btn btn-link" disabled="@(!entity.Models.Any())" @onclick="HandleCreateIndividual">
                        <i class="icon feather-plus mr-1"></i>
                        <span>Create individual</span>
                    </button>
                </div>
                <h4>Individuals</h4>
                <hr/>
            </div>
            @if (entity.Individuals.Any()) {
                <div class="card-columns">
                    @foreach (var individual in entity.Individuals) {
                        <IndividualCard Value="@individual" OnUpdate="@Redraw" />
                    }
                </div>
            }
            else {
                <div class="text-muted">No individuals defined</div>
            }
        </ChildContent>
    </Scaffold>
}

@code {
    [Parameter]
    public int ID { get; set; }

    private EntityData entity = null;

    protected override async Task OnInitializedAsync() {
        await Redraw();
    }

    private async Task Redraw() {
        var entity = await Storage.GetEntity(ID);
        this.entity = await EntityData.Instantiate(entity);
    }

    private async Task HandleCreateModel(int modelID = StaticEvent.EntityModel) {
        var result = await Dialog.CreateModel(ID, modelID, $"Model_{entity.Label}");
        if (null != result) {
            await Redraw();
        }
    }

    private void HandleCreateIndividual() {
        NavigationManager.NavigateTo(Routing.EntitiesCreateIndividual(ID));
    }
}