@page "/models"
@inject IStorageAPI Storage
@inject RoutingService Routing
@inject PropertyProviderService PropertyProvider

<Scaffold>
    <Title>Models</Title>
    <ChildContent>
        <table class="table">
            <thead>
                <tr>
                    <th style="width:1px">ID</th>
                    <th>Label</th>
                    <th>Event base</th>
                    <th>Parent</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var model in models) {
                <tr>
                    <td>@model.ID</td>
                    <td>
                        <NavLink href="@Routing.ModelsView(model.ID)">@model.Label</NavLink>
                    </td>
                    <td>
                        (@model.EventBase) @model.EventBaseName
                    </td>
                    <td>
                        @if (StaticEvent.Event == model.Parent) {
                            <span>Root</span>
                        }
                        else {
                            <NavLink href="@Routing.ModelsView(model.Parent)">@model.ParentLabel</NavLink>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </ChildContent>
</Scaffold>

@code {
    private IEnumerable<ModelData> models = Array.Empty<ModelData>();

    protected override async Task OnInitializedAsync() {
        var models = await Storage.GetModels();
        this.models = await Task.WhenAll(
            models.Select(m => 
                PropertyProvider.GetModel(m)                
            )
        );
    }
}