@page "/models/{id:int}"
@inject TransactionsService Tx
@inject DialogService Dialog
@inject RoutingService Routing
@inject PropertyProviderService PropertyProvider

@if (null != model) {
    <Scaffold>
        <Title>(@model.ID) @model.Label</Title>
        <ChildContent>
            <h4>Parent</h4>
            <div>
                @if (StaticEvent.Event == model.Parent) {
                    <span>Root</span>
                }
                else {
                    <NavLink href="@Routing.ModelsView(model.Parent)">@model.ParentLabel</NavLink>
                }
            </div>

            <hr/>
            <h4>Event base</h4>
            <div>
                (@model.EventBase) @model.EventBaseName
            </div>
            <hr/>

            <h4>Properties</h4>
            <ProviderProperties
                PropertyProvider="@model.PropertyProvider"
                OnChange="@Redraw"
            />
        </ChildContent>
    </Scaffold>
}

@code {
    [Parameter]
    public int ID { get; set; }

    private ModelData model = null;

    protected override async Task OnInitializedAsync() {
        await Redraw();
    }

    protected override async Task OnParametersSetAsync() {
        await Redraw();
    }

    private async Task Redraw() {
        this.model = await PropertyProvider.GetModel(ID);
    }
}