@page "/models/{id:int}"
@inject IStorageAPI Storage
@inject TransactionsService Tx
@inject DialogService Dialog
@inject RoutingService Routing
@inject PropertyProviderService PropertyProvider

@if (null != model) {
    <Scaffold>
        <Title>(@model.ID) @model.Label</Title>
        <ChildContent>
            <h4>Parent</h4>
            <div>
                @if (StaticEvent.Event == model.Parent) {
                    <span>Root</span>
                }
                else {
                    <NavLink href="@Routing.ModelsView(model.Parent)">@model.ParentLabel</NavLink>
                }
            </div>

            <hr/>
            <h4>Event base</h4>
            <div>
                (@model.EventBase) @model.EventBaseName
            </div>
            <hr/>

            @if (model.PropertyProvider.Attributes.Any()) {
                <h4>Attributes</h4>
                <ProviderProperties
                    PropertyProvider="@model.PropertyProvider"
                    OnChange="@Redraw"
                />
            }

            <hr/>
            <div>
                <button class="btn btn-primary" @onclick="() => HandleAddAttribute(model.PropertyProvider)">
                    <i class="icon feather-check-circle mr-1"></i>
                    <span>Add attribute</span>
                </button>

                <button class="btn btn-primary" @onclick="() => HandleAddRelation(model.PropertyProvider)">
                    <i class="icon feather-copy mr-1"></i>
                    <span>Add relation</span>
                </button>
            </div>
        </ChildContent>
    </Scaffold>
}

@code {
    [Parameter]
    public int ID { get; set; }

    private ModelData model = null;

    protected override async Task OnInitializedAsync() {
        await Redraw();
    }

    protected override async Task OnParametersSetAsync() {
        await Redraw();
    }

    private async Task Redraw() {
        var model = await Storage.GetModel(ID);
        this.model = await ModelData.Instantiate(model);
    }

    private async Task HandleAddAttribute(PropertyProviderData provider) {
        var result = await PropertyProvider.AddAttribute(provider);
        if (result) {
            await Redraw();
        }
    }

    private async Task HandleAddRelation(PropertyProviderData provider) {
        var result = await PropertyProvider.AddRelation(provider);
        if (result) {
            await Redraw();
        }
    }
}