@*
    Parallax
    Copyright (C) 2020  Frank Horrigan <https://github.com/saurer>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@page "/models"
@inject IStorageAPI Storage
@inject RoutingService Routing
@inject PropertyProviderService PropertyProvider

<Scaffold>
    <Title>Models</Title>
    <ChildContent>
        <table class="table">
            <thead>
                <tr>
                    <th style="width:1px">ID</th>
                    <th>Label</th>
                    <th>Event base</th>
                    <th>Parent</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var model in models) {
                <tr>
                    <td>@model.ID</td>
                    <td>
                        <NavLink href="@Routing.ModelsView(model.ID)">@model.Label</NavLink>
                    </td>
                    <td>
                        (@model.EventBase) @model.EventBaseName
                    </td>
                    <td>
                        @if (StaticEvent.Event == model.Parent) {
                            <span>Root</span>
                        }
                        else {
                            <NavLink href="@Routing.ModelsView(model.Parent)">@model.ParentLabel</NavLink>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </ChildContent>
</Scaffold>

@code {
    private IEnumerable<ModelData> models = Array.Empty<ModelData>();

    protected override async Task OnInitializedAsync() {
        var models = await Storage.GetModels();
        this.models = await Task.WhenAll(
            models.Select(m => 
                PropertyProvider.GetModel(m)                
            )
        );
    }
}