@page "/models/create"
@inject EngineBase Engine
@inject EngineService EngineService
@inject CredentialsService CredentialsService
@inject NavigationManager NavigationManager

<Scaffold>
    <Title>Create model</Title>
    <ChildContent>
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator/>

            <div class="form-group">
                <label for="name">Model name</label>
                <InputText class="form-control" @bind-Value="model.Name" />
            </div>

            <div class="form-group">
                <label for="type">Event base</label>
                <InputSelect @bind-Value="model.EventType" class="form-control">
                    <option value="@EventType.Actor">Actor</option>
                    <option value="@EventType.Entity">Entity</option>
                    <option value="@EventType.Attribute">Attribute</option>
                </InputSelect>
            </div>

            <div class="form-group">
                <label for="parent">Parent model</label>
                <select class="form-control" id="parent" @onchange="e => HandleChangeParent(e.Value)">
                    @foreach (var model in models) {
                        <option value="@model.ID">@model.Value</option>
                    }
                </select>
            </div>

            <h4 class="mt-5">Attributes</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th style="width:1px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var attr in parentAttrs) {
                        <tr>
                            <td>@attr.Name</td>
                            <td>@attr.Type</td>
                            <td>Inherited</td>
                        </tr>
                    }
                    @foreach (var attr in model.Attributes) {
                        <tr>
                            <td>@attr.Name</td>
                            <td>@attr.Type</td>
                            <td>
                                <button type="button" class="btn btn-danger" @onclick="() => model.RemoveAttribute(attr)">
                                    <span class="oi oi-trash"></span>
                                </button>
                            </td>
                        </tr>
                    }
                    @if (attributes.Any()) {
                        <tr>
                            <td colspan="2">
                                <select class="form-control">
                                    @foreach (var attr in attributes) {
                                        <option value="@attr.ID">@attr.Name</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" @onclick="HandleAddAttribute">
                                    <span class="oi oi-plus"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr/>
            <button type="submit" class="btn btn-primary">
                <span class="oi oi-plus mr-1"></span>
                <span>Confirm</span>
            </button>
        </EditForm>
    </ChildContent>
</Scaffold>

@code {
    private ModelCreateData model = new ModelCreateData();
    private IEnumerable<IModel> models = Array.Empty<IModel>();
    private IEnumerable<AttrData> parentAttrs = Array.Empty<AttrData>();
    private IEnumerable<AttrData> attributes = Array.Empty<AttrData>();
    private AttrData newAttr;

    protected async override Task OnInitializedAsync() {
        models = await Engine.Storage.GetModels();
        await HandleChangeParent(models.First().ID.ToString());
        newAttr = attributes.FirstOrDefault();
    }

    private async Task HandleAddAttribute() {
        if (model.HasAttribute(newAttr)) {
            return;
        }

        if (parentAttrs.Any(a => a.ID == newAttr.ID)) {
            return;
        }

        model.AddAttribute(newAttr);
        await FilterAttributes();
    }

    private async Task HandleChangeParent(object value) {
        if (Int32.TryParse((string)value, out var id)) {
            var parent = await Engine.Storage.GetModel(id);
            var attrs = await parent.GetAllAttributes();
            var result = new List<AttrData>();

            foreach (var attr in attrs) {
                var dt = await attr.GetDataType();
                var attrData = await AttrData.Instantiate(attr);
                result.Add(attrData);
            }
            parentAttrs = result;
            model.Parent = parent.ID;
            await FilterAttributes();
        }
    }

    private async Task FilterAttributes() {
        var values = await Engine.Storage.GetAttributes();
        attributes = await Task.WhenAll(
            values.Where(a =>
                !model.HasAttribute(a.ID) &&
                !parentAttrs.Any(p => a.ID == p.ID)
            ).Select(a => AttrData.Instantiate(a))
        );
    }

    private async Task HandleSubmit() {
        int modelID = await model.Execute(Engine, CredentialsService);
        NavigationManager.NavigateTo($"/models/{modelID}");
    }
}