<table class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>BaseEventID</th>
            <th>ValueType</th>
            <th>Value</th>
            <th>Condition</th>
            <th>Actor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items) {
            <tr class="@(item.ID == SelectedItemID ? "table-secondary" : "")" @onclick="() => HandleClick(item)">
                <td class="text-center">@item.ID</td>
                <td>@item.BaseEventID</td>
                <td>@item.ValueID</td>
                <td>@item.Value</td>
                <td>@item.ConditionEventID</td>
                <td>@item.ActorEventID</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<IEvent> Items { get; set; }

    [Parameter]
    public EventCallback<IEvent> OnClick { get;set; }

    [Parameter]
    public int? SelectedItemID { get;set; }

    private async Task HandleClick(IEvent item) {
        await OnClick.InvokeAsync(item);
    }
}