@inject IStorageAPI Storage

<table class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>BaseEventID</th>
            <th>ValueType</th>
            <th>Value</th>
            <th>Condition</th>
            <th>Actor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in detailedEvents) {
            <tr>
                <td class="text-center">@item.ID</td>
                <td>(@item.BaseEvent.ID) @item.BaseEvent.Value</td>
                <td>(@item.ValueTypeEvent.ID) @item.ValueTypeEvent.Value</td>
                <td>@item.Value</td>
                <td>(@item.ConditionEvent.ID) @item.ConditionEvent.Value</td>
                <td>(@item.ActorEvent.ID) @item.ActorEvent.Value</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<IEvent> Items { get; set; }

    private IEnumerable<DetailedEvent> detailedEvents = Array.Empty<DetailedEvent>();

    private struct DetailedEvent {
        public int ID { get; set; }
        public IEvent BaseEvent { get; set; }
        public IEvent ValueTypeEvent { get; set; }
        public string Value { get; set; }
        public IEvent ConditionEvent { get; set; }
        public IEvent ActorEvent { get; set; }
        public DateTime Date { get; set; }
    }

    protected override async Task OnInitializedAsync() {
        await Refresh();
    }

    protected override async Task OnParametersSetAsync() {
        await Refresh();
    }

    private async Task<DetailedEvent> GetDetailedEvent(IEvent e) {
        return new DetailedEvent {
            ID = e.ID,
            BaseEvent = await Storage.GetEvent(e.BaseEventID),
            ValueTypeEvent = await Storage.GetEvent(e.ValueID),
            Value = e.Value,
            ConditionEvent = await Storage.GetEvent(e.ConditionEventID),
            ActorEvent = await Storage.GetEvent(e.ActorEventID),
            Date = e.Date
        };
    }

    public async Task Refresh() {
        var result = await Task.WhenAll(Items.Select(GetDetailedEvent));
        detailedEvents = result;
    }
}