@*
    Parallax
    Copyright (C) 2020  Frank Horrigan <https://github.com/saurer>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@inject IStorageAPI Storage
@inject TransactionsService Tx
@inject RoutingService Routing
@inject DialogService Dialog

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <NavLink href="@Routing.IndividualsView(@Value.ID)">
                <strong>
                    <span>(@Value.ID) @Value.Label</span>
                </strong>
            </NavLink>

            @if (Value.Valid) {
                <span class="badge badge-success float-right">Valid</span>
            }
            else {
                <span class="badge badge-danger float-right">Invalid</span>
            }
        </h5>
        <div class="row">
            <div class="col-sm">
                <i class="icon feather-code text-muted"></i>
                <span>Model</span>
            </div>
            <div class="col-sm text-right">
                <NavLink href="@Routing.ModelsView(Value.Model.ModelID)">@Value.Model.Label</NavLink>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <i class="icon feather-user text-muted"></i>
                <span>Creator</span>
            </div>
            <div class="col-sm text-right">
                @if (Value.Actor.HasValue) {
                    <NavLink href="@Routing.IndividualsView(Value.Actor.Value)">@Value.ActorLabel</NavLink>
                }
                else {
                    @(Value.ActorLabel ?? "System")
                }
            </div>
        </div
    </div>
</div>

@code {
    [Parameter]
    public IndividualData Value { get; set; }

    [Parameter]
    public EventCallback OnUpdate { get; set; }
}