@inject DialogService Dialog
@inject EngineBase Engine
@inject CredentialsService Credentials

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Cardinality</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @if (null != Model) {
            @foreach (var attr in Model.Attributes) {
                <tr>
                    <td>
                        <span>@attr.Attribute.Name</span>
                        @if (attr.Required) {
                            <span class="text-danger text-bold">(required)</span>
                        }
                    </td>
                    <td>@attr.Attribute.DataType.Name</td>
                    <td>@attr.Cardinality</td>
                    <td>
                        @if (IsFull(attr) && IndividualID.HasValue) {
                            if (attributes.ContainsKey(attr.Attribute.ID)) {
                                <span>@String.Join(',', attributes[attr.Attribute.ID])</span>
                            }
                            else {
                                <i class="icon feather-alert-triangle text-warning"></i>
                                <span class="text-muted">Unassigned</span>
                            }
                        }
                        else {
                            <button type="button" class="btn btn-link p-0 border-bottom" @onclick="@(() => HandleAssignAttribute(attr))">
                                @if (attributes.ContainsKey(attr.Attribute.ID)) {
                                    <span>@String.Join(',', attributes[attr.Attribute.ID])</span>
                                }
                                else {
                                    <i class="icon feather-alert-triangle text-warning"></i>
                                    <span class="text-muted">Unassigned</span>
                                }
                            </button>
                        }
                    </td>
                </tr>
            }

            @foreach (var relation in Model.Relations) {
                <tr>
                    <td>
                        <span>@relation.Relation.Value</span>
                        @if (relation.Required) {
                            <span class="text-danger text-bold">(required)</span>
                        }
                    </td>
                    <td>Relation</td>
                    <td>@relation.Cardinality</td>
                    <td>
                        @if (IsFull(relation) && IndividualID.HasValue) {
                            if (relations.ContainsKey(relation.Relation.ID)) {
                                <span>@String.Join(',', relations[relation.Relation.ID])</span>
                            }
                            else {
                                <i class="icon feather-alert-triangle text-warning"></i>
                                <span class="text-muted">Unassigned</span>
                            }
                        }
                        else {
                            <button type="button" class="btn btn-link p-0 border-bottom" @onclick="@(() => HandleAssignRelation(relation))">
                                @if (relations.ContainsKey(relation.Relation.ID)) {
                                    <span>@String.Join(',', relations[relation.Relation.ID])</span>
                                }
                                else {
                                    <i class="icon feather-alert-triangle text-warning"></i>
                                    <span class="text-muted">Unassigned</span>
                                }
                            </button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int? IndividualID { get; set; }

    [Parameter]
    public ModelData Model { get; set; }

    [Parameter]
    public Dictionary<int, IEnumerable<string>> Attributes { get; set; }

    [Parameter]
    public Dictionary<int, IEnumerable<string>> Relations { get; set; }

    [Parameter]
    public EventCallback OnUpdate { get; set; }

    private Dictionary<int, IEnumerable<string>> attributes = new Dictionary<int, IEnumerable<string>>();
    private Dictionary<int, IEnumerable<string>> relations = new Dictionary<int, IEnumerable<string>>();

    protected async override Task OnInitializedAsync() {
        await UpdateValues();
    }

    protected async override Task OnParametersSetAsync() {
        await UpdateValues();
    }

    private async Task UpdateValues() {
        var resultAttributes = new Dictionary<int, IEnumerable<string>>();
        var resultRelations = new Dictionary<int, IEnumerable<string>>();

        foreach (var kv in Attributes) {
            var modelAttr = Model.Attributes.Where(a => a.Attribute.ID == kv.Key).Single();

            if (!kv.Value.Any()) {
                continue;
            }

            if (!resultAttributes.ContainsKey(kv.Key)) {
                resultAttributes.Add(kv.Key, new List<string>());
            }

            var list = (List<string>)resultAttributes[kv.Key];
            foreach (var value in kv.Value) {
                if (modelAttr.Attribute.IsBoxed) {
                    var valueIndividual = await Engine.Storage.GetEvent(Int32.Parse(value));
                    list.Add(valueIndividual.Value);
                }
                else {
                    list.Add(value);
                }
            }
        }

        foreach (var kv in Relations) {
            var modelReation = Model.Relations.Where(r => r.Relation.ID == kv.Key).Single();

            if (!kv.Value.Any()) {
                continue;
            }

            if (!resultRelations.ContainsKey(kv.Key)) {
                resultRelations.Add(kv.Key, new List<string>());
            }

            var list = (List<string>)resultRelations[kv.Key];
            foreach (var value in kv.Value) {
                list.Add(value);
            }
        }

        attributes = resultAttributes;
        relations = resultRelations;
    }

    private bool IsFull(ModelAttrData attr) {
        if (!attributes.ContainsKey(attr.Attribute.ID)) {
            return false;
        }

        if (attr.Cardinality == 0) {
            return false;
        }

        var items = attributes[attr.Attribute.ID];

        return items.Count() >= attr.Cardinality;
    }

    private bool IsFull(ModelRelationData relation) {
        if (!relations.ContainsKey(relation.Relation.ID)) {
            return false;
        }

        if (relation.Cardinality == 0) {
            return false;
        }

        var items = relations[relation.Relation.ID];

        return items.Count() >= relation.Cardinality;
    }

    private async Task HandleAssignAttribute(ModelAttrData attr) {
        var resultValues = await Dialog.SetAttributeValue(
            attr,
            Attributes.ContainsKey(attr.Attribute.ID) ? Attributes[attr.Attribute.ID] : Array.Empty<string>(),
            !IndividualID.HasValue
        );
            
        if (null == resultValues) {
            return;
        }

        if (IndividualID.HasValue) {
            foreach (var value in resultValues) {
                await Credentials.ProcessEvent(Engine, new FederatedEvent(
                    IndividualID.Value,
                    attr.Attribute.ID,
                    IndividualID.Value,
                    value
                ));
            }
        }
        else {
            Attributes[attr.Attribute.ID] = resultValues;
            await UpdateValues();
        }

        await OnUpdate.InvokeAsync(null);
    }

    private async Task HandleAssignRelation(ModelRelationData relation) {
        var resultValues = await Dialog.SetRelationValue(
            relation,
            Relations.ContainsKey(relation.Relation.ID) ? Relations[relation.Relation.ID] : Array.Empty<string>(),
            !IndividualID.HasValue
        );
            
        if (null == resultValues) {
            return;
        }

        if (IndividualID.HasValue) {
            foreach (var value in resultValues) {
                await Credentials.ProcessEvent(Engine, new FederatedEvent(
                    IndividualID.Value,
                    relation.Relation.ID,
                    IndividualID.Value,
                    value
                ));
            }
        }
        else {
            Relations[relation.Relation.ID] = resultValues;
            await UpdateValues();
        }

        await OnUpdate.InvokeAsync(null);
    }
}