@inject DialogService Dialog
@inject EngineBase Engine

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @if (null != model) {
            @foreach (var attr in model.AllAttributes) {
                <tr>
                    <td>@attr.Attribute.Name</td>
                    <td>@attr.Attribute.DataType.Name</td>
                    <td>
                        <button type="button" class="btn btn-link p-0 border-bottom" @onclick="@(() => HandleAssignAttribute(attr))">
                            @if (values.ContainsKey(attr.Attribute.ID)) {
                                <span>@String.Join(',', @values[attr.Attribute.ID])</span>
                            }
                            else {
                                <i class="icon feather-alert-triangle text-warning"></i>
                                <span class="text-muted">Unassigned</span>
                            }
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IModel Model { get; set; }

    [Parameter]
    public Dictionary<int, IEnumerable<string>> Values { get; set; }

    private ModelData model;
    private Dictionary<int, IEnumerable<string>> values = new Dictionary<int, IEnumerable<string>>();

    protected async override Task OnInitializedAsync() {
        model = await ModelData.Instantiate(Model);
        await UpdateValues();
    }

    protected async override Task OnParametersSetAsync() {
        model = await ModelData.Instantiate(Model);
        await UpdateValues();
    }

    private async Task UpdateValues() {
        var result = new Dictionary<int, IEnumerable<string>>();
        var attrs = model.AllAttributes;

        foreach (var kv in Values) {
            var modelAttr = attrs.Where(a => a.Attribute.ID == kv.Key).Single();

            if (!kv.Value.Any()) {
                continue;
            }

            if (!result.ContainsKey(kv.Key)) {
                result.Add(kv.Key, new List<string>());
            }

            var list = (List<string>)result[kv.Key];
            foreach (var value in kv.Value) {
                if (modelAttr.Attribute.IsBoxed) {
                    var valueIndividual = await Engine.Storage.GetEvent(Int32.Parse(value));
                    list.Add(valueIndividual.Value);
                }
                else {
                    list.Add(value);
                }
            }
        }

        values = result;
    }

    private async Task HandleAssignAttribute(ModelAttrData attr) {
        var result = await Dialog.SetAttributeValue(
            attr,
            Values.ContainsKey(attr.Attribute.ID) ? Values[attr.Attribute.ID] : Array.Empty<string>(),
            true
        );
            
        if (null == result) {
            return;
        }

        Values[attr.Attribute.ID] = result;
        await UpdateValues();
    }
}